@font-face {
    font-family: SaborDigital;
    /*src: url(../assets/fonts/SaborDigital.ttf);*/
    /*src: url(../assets/fonts/SnackerComic.ttf);*/
    /*src: url(../assets/fonts/Stren.ttf);*/
    src: url(../assets/fonts/Vanish.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


body {

    background: #2a363d url(../assets/mosaico3.png);

    /*background: #2a363d;*/


    /*background: rgba(20,20,20,0.6) url(../assets/fondo2.gif);*/
    
    /*background: #92B371;*/
    /*background: url(../assets/fondo1.jpg);*/
    /*background: url(http://www.demo.amitjakhu.com/login-form/images/bg.png);*/
    /*background: #3f9db8;*/
    /*background: #9eabb5;*/
    color: white;

}

h1 {
    text-shadow: 2px 3px 3px black;
    margin-bottom: 30px;
    padding: 10px;
}

a, a:hover, a:active {
  color: #0fa8bd;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

textarea {
  background: #455a63 !important;
  color: #FFF !important;
  resize: none;
  height: 200px !important;
  display: block;
  border: none !important;
  border-radius: 0 !important;

  -webkit-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.8) !important;
  -moz-box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.8) !important;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.8) !important;

  /*
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35) !important;
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35) !important;
  */

}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a2a8ab !important;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a2a8ab !important;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a2a8ab !important;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a2a8ab !important;
}


footer {
    background: rgba(2, 2, 2, 0.9);
    padding: 5px;
}

.panel-normal {
    min-height: 300px;
}

.panel-texto {

}

.panel-opciones {

}

.texto-procesado {
    
}

.sin-padding {
    padding: 0;
}

.panel-funcionamiento {
    margin-top: 15px;
    padding-bottom: 30px;
}

.sombra-texto {
    text-shadow: 1px 2px 3px black;
}

.boton{
    width: 100%;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #FFF;
    background: rgba(160,160,160,1);
    border: none !important;
    padding: 15px 40px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.boton:hover {
    background: rgba(180,180,180,1);
    color: #000;
    cursor: pointer;
}


.boton-autenticacion {
  margin-top: -20px;
  font-size: 16px;
  color: #0fa8bd;
  text-align: center;
  width: 120px;
  height: 50px;
  line-height: 40px;
  padding: 10px;
  border: .2em solid #0fa8bd;
  text-transform: uppercase;
  cursor: pointer;
}

.boton-autenticacion:hover {
  color: #FFF;
}





/* Boton examinar/subir fichero */

.contenedor-fichero {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #0fa8bd;
  overflow: hidden;
  background-image: linear-gradient(to bottom, transparent 50%, #0fa8bd 50%);
  background-size: 100% 200%;
  transition: all 0.6s;
  color: #0fa8bd;
  font-size: 22px;
  cursor: text pointer;
  margin-left: 65px;
}

.fichero {
  background: #000;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.glyphicon-file {
  cursor: pointer;
  pointer-events: none;
}

.contenedor-fichero:hover {
  background-position: 0 -100%;
  color: #FFF;
}


.invisible {
  visibility: hidden;
}

.oculto {
  display: none;
}

.procesar-deshabilitado {
  opacity: 0.3;
  cursor: default !important;
  cursor: not-allowed !important;
}



/*
.examinar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label-fichero {
    margin: 0 !important;
    display: block;
    position: relative;
    background-color: #fff;
    display: block;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid rgba(160,160,160,1);
}


.label-fichero:empty::before {
    content: "Selecciona un fichero .txt";
    display: block;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.label-fichero::after {
    content: "EXAMINAR";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 30px;
    background: rgba(160,160,160,1);
    color: white;
    font-size: 16px;
    font-weight: normal;
}
*/




.icono-guardar, .icono-descargar, .icono-compartir {
    font-size: 25px;
    color: #0fa8bd;
    margin: 5px;
    cursor: pointer;
}



.contenido-menu {
  height: 258px;
  padding-left: 25px;
  padding-top: 20px;
  overflow: auto;

  /* CAMBIAR ESTO!! Ahora el scroll horizontal esta desactivado: */
  overflow-x: hidden;
}

#contenido-menu-adapta {
  color: #000 !important;
}

#logo {
  font-family: SaborDigital;
  font-size: 120px;
  color: #0fa8bd;
  font-weight: normal;
}

#botones-centro {
  margin-top: 75px;
  margin-left: 36px;
}

.chincheta {
  float: right;
  right: 20px;
  padding: 2px;
  opacity: 0;
  color: #FFF;
  cursor: pointer;
}

.chincheta-activa {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.menu-activo {
  width: 68% !important;
}

.menu-inactivo {
  width: 8% !important;
}












/* INPUT SLIDER */

.slider {
  width: 800px;
  margin-top: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
  /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 18px;
  border: none;
  border-radius: 12px;

  cursor: pointer;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0fa8bd), color-stop(100%, #0fa8bd));
  background-image: -webkit-linear-gradient(top, #0fa8bd 0, #0fa8bd 100%);
  background-image: linear-gradient(to bottom, #0fa8bd 0, #0fa8bd 100%);

  /*
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f));
  background-image: -webkit-linear-gradient(top, #529de1 0, #245e8f 100%);
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  */

}

input[type="range"]::-moz-range-thumb {
  width: 50px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 50px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}


















/* ACORDEON */

.accordian {
  /*width: 840px; */
  width: calc(100% + 40px);
  height: 320px;
  overflow: hidden;

  margin-left: -40px !important;

  margin-bottom: 50px;
    
  /*Time for some styling*/
    
  /*margin: 100px auto;*/

  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);

  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
  /*width: 2000px;*/
  width: 100%;
  /*This will give ample space to the last item to move
  instead of falling down/flickering during hovers.*/
}

.accordian li {
  position: relative;
  display: block;
  /*width: 160px;*/
  width: 20%;
  float: left;

  /*margin-left: -40px !important;*/
    
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    
  /*Transitions to give animation effect*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*If you hover on the images now you should be able to see the basic accordian*/
}

.accordian li:nth-child(n+2){
  border-left: 1px solid #888;
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  /*width: 40px;*/
  width: 8%;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  /*width: 640px;*/
  width: 68%;
}

.accordian ul li:hover .chincheta {
  opacity: 1 !important;
}

.accordian ul li:hover .chincheta:hover {
  color: #0fa8bd;
}

.accordian li img {
  display: block;
}

/*Image title styles*/
.titulo-menu {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; bottom: 0; 
  /*width: 640px;*/
  width: 100%;   
}

.titulo-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}

.item-acordeon {
  height: 320px;
  width: 100%;
  display: inline-block;
  /*background: #3a4a52;*/
  background: #3a4a52 url(../assets/mosaico1.png);
}





















table{
  width:100%;
  /*table-layout: fixed;*/
  overflow-x: hidden !important;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:146px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  overflow-x: hidden !important;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}













/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

























#switch{
    /*top: 50%;*/
    top: 170px;
    /*left: 50%;*/
    left: 260px;
    width: 75px;
    height: 40px;
}

.toggle{
    position: absolute;
    border: 2px solid #000;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;
}

.toggle.toggle-on{
    border-color: rgba(137, 194, 217, .4);
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button{
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #000;
    border-radius: 19px; 
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #89c2da;
    /*box-shadow: 0 0 16px #4b7a8d;*/
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}


.toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */    
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */


    color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
    color: #3b6a7d;
    -webkit-transition: color .3s .15s ;
    transition: color .3s .15s ;
}

.toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #000;
}

.toggle-on .toggle-text-off{
    color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    /*box-shadow: 0 0 12px rgba(75, 122, 141, .2);*/
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}














/*
::-webkit-scrollbar              { 
  background: #aaa !important; 
}

::-webkit-scrollbar-button       { 
  background: #fff !important; 
}

::-webkit-scrollbar-track        { 
  background: #fff !important; 
}

::-webkit-scrollbar-track-piece  { 
  background: #555 !important; 
}

::-webkit-scrollbar-thumb        { 
  background: rgba(0,0,0,0) !important; 
}

::-webkit-scrollbar-corner       { 
  background: #fff !important; 
}

::-webkit-resizer                { 
  background: #fff !important; 
}
*/



::-webkit-scrollbar {
    width: 6px;
}

 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2);
}
 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
}




/* Loading spinner */

.loading {
  animation: clockwise 1.5s linear infinite;
  display: block;
  position: relative;
  top: 31px;
  height: 3.2em;
  width: 3.2em;
}

.loading,
.loading:before,
.loading:after {
  border: .2em solid transparent;
  border-radius: 50%;
  /*border-top-color: rgba(25,255,255,0.6);*/
  border-top-color: #0fa8bd;
  margin: auto;
}

.loading:before,
.loading:after {
  content: '';
  position: absolute;
}

.loading:before {
  animation: anticlockwise .9s linear infinite;
  top: -.6em;
  right: -.6em;
  bottom: -.6em;
  left: -.6em;
}

.loading:after {
  animation: anticlockwise .66s linear infinite;
  top: .3em;
  right: .3em;
  bottom: .3em;
  left: .3em;
}

@keyframes clockwise {
  0%  { transform: rotate(0deg) }
  100%{ transform: rotate(360deg) }
}

@keyframes anticlockwise {
  0%  { transform: rotate(360deg) }
  100%{ transform: rotate(0deg) }
}






/* Boton PROCESAR */
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -60px;
  display: inline-block;
  font-size: 18px;
  color: #0fa8bd;
  text-align: center;
  width: 120px;
  height: 60px;
  line-height: 60px;
  border: .2em solid #0fa8bd;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* Circulo de la flecha */
.arrow:hover,
.arrow.auto {
  width: 60px;
  margin-left: -30px;
  border-radius: 40px;
  color: rgba(255,255,255, 0);
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}

.arrow:hover:before,
.arrow.auto:before {
  animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after,
.arrow.auto:after {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

/* Cuerpo de la flecha */
/*
.arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #0fa8bd;
  width: 40px;
  height: 5px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  transform: translateY(50px);
}
*/

/* Punta de la flecha */
.arrow:before {
  position: absolute;
  display: inline-block;
  content: ">";
  width: 20px;
  height: 20px;
  color: #0fa8bd;
  font-size: 50px;
  font-weight: bold;
  top: -5%;
  left: 50%;
  margin-top: -6px;
  margin-left: -11px;
  transform: translateY(50px) rotateZ(45deg);
}

/*
.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  color: #0fa8bd;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -11px;
  transform: translateY(50px) rotateZ(45deg);
}
*/

@keyframes tipUp {
  0% {
    transform: translateX(50px) rotateZ(45deg);
  }
  100% {
    transform: translateX(70px) rotateZ(45deg);
  }
}

@keyframes lineUp {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(70px);
  }
}












audio {
  width: 100%;
}









#gallery { 
  float: left; 
  /*width: 65%; */
  min-height: 12em; 
}

.gallery.custom-state-active { 
  background: #eee; 
}

.contenedor-imagen {
  height: 90px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.contenedor-imagen img {
  cursor: move;
  display: block;
}

.contenedor-imagen .glyphicon-zoom-in {
  float: left;
}

.contenedor-imagen .glyphicon-plus {
  float: right;
}

.contenedor-imagen .glyphicon-trash {
  float: right;
}
 

#trash { 
  /*float: right; */
  width: 100%; 
  min-height: 230px; 
  padding: 1%; 
  background: transparent;
  border: none;
}

h4 { 
  font-weight: normal;
  line-height: 16px; 
  margin: 0 0 0.4em; 
  color: #0fa8bd;
  background: transparent;
  border: none;
  border-bottom: 1px #0fa8bd solid;
}

#trash h4 .ui-icon { 
  float: left; 
}

#trash .gallery h5 { 
  display: none; 
}


.panel-menu {
  width: 100%; 
  padding: 1%; 
  background: transparent;
  border: none;
}








/* TOOLTIP */

/*
.open {
  position: fixed;
  width: 100px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 30px;
  color: #444;
  transition: all ease-out 0.6s;
}
.open:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0 8px #ccc inset;
  transition: all ease-out 0.6s;
}
*/

.open:hover {
  /*text-decoration: underline;*/
}

.container {
  position: fixed;
  padding-left: 0px;
  width: 400px;
  height: 238px;
  left: 50%;
  top: -1200px;
  margin-top: -119px;
  margin-left: -200px;
  background-color: #2b2b2b !important;
  /*border-radius: 6px;*/
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
  z-index: 100;
  cursor: move;
  border: none !important;
}
.container:before {
  content: '';
  position: absolute;
  left: -14px;
  top: 28px;
  border-style: solid;
  border-width: 10px 14px 10px 0;
  border-color: rgba(0, 0, 0, 0) #2b2b2b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}

.container h2 {
  font-size: 25px;
  font-weight: 100;
  color: #FFF;
  margin: 20px 25px;
}

.container img {
  cursor: move;
  float: right;
  margin-bottom: 10px;
}

.container .panel-container {
  width: 350px;
  font-size: 16px;
  color: #a8aab2;
  font-weight: 400;
  line-height: 28px;
  float: left;
  margin: 0;
}

.container .bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.container .bottom .step {
  flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  width: 100%;
  height: 54px;
  background-color: #373942;
  /*border-bottom-left-radius: 6px;*/
  display: flex;
}
.container .bottom .step span {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  line-height: 54px;
  color: #fff;
  margin-left: 25px;
  font-size: 18px;
}
.container .bottom .step ul {
  flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  list-style: none;
  height: 10px;
  margin: 23px 0;
  padding-left: 15px;
}
.container .bottom .step ul li {
  position: relative;
  height: 10px;
  width: 10px;
  margin: 0 20px;
  float: left;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #535560;
}
.container .bottom .step ul li:first-child:before {
  width: 0;
}
.container .bottom .step ul li:before {
  content: '';
  position: absolute;
  width: 40px;
  border-top: 1px solid #535560;
  left: -41px;
  top: 3px;
}
.container .bottom .step ul li.true {
  background-color: #7a7d86;
}
.container .bottom .step ul li.active {
  background-color: #fff;
  /*box-shadow: 0 0 6px rgba(255, 255, 255, 0.78);*/
}
.close {
  cursor: pointer;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  top: 26px;
  right: 31px;
  border-top: 2px solid #FFF;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close:before {
  right: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn {
  flex: 1;
  background-color: #0fa8bd;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0 !important;
  /*font-weight: bold;*/
  /*border-bottom-right-radius: 6px;*/
  cursor: pointer;
  transition: all .3s;
}
.btn:hover {
  /*background-color: #FFF;*/
  transition: all .3s;
}
.btn:active {
  background-color: #5F8AAF;
}
.slider-container {
  width: 350px;
  margin: 0 25px;
  overflow: hidden;
}
.slider-turn {
  width: 10000px;
}






/* RADIO BUTTONS */

#radios{
  position:relative;
  width:100%;
  margin:0 auto;
}

input[type="radio"]{
  position:absolute;
  right:1000%;
}

label{
  float:left;
  width:12.5%; padding-bottom:12.5%;
  margin:0 2.08%;
  background:rgba(255,255,255,.2);
  border-radius:50%;
  cursor:pointer;
}
#slider{
  position:absolute;
  left:0%; top:0;
  width:10%; padding-bottom:10%;
  margin:1.25% 0 0 3.25%;
  background:#fff;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
}
#metodoL:checked  ~ #slider{ animation-name: input1; left:0; }
#metodoN:checked  ~ #slider{ animation-name: input2; left:16.6%; }
#metodoE:checked  ~ #slider{ animation-name: input3; left:33.3%; }
#metodoA:checked  ~ #slider{ animation-name: input4; left:50%; }
#metodoI:checked  ~ #slider{ animation-name: input5; left:66.6%; }
#metodoR:checked  ~ #slider{ animation-name: input6; left:83.3%; }

@keyframes input1{ 30%, 70% { transform:scale(0.5); } }
@keyframes input2{ 30%, 70% { transform:scale(0.5); } }
@keyframes input3{ 30%, 70% { transform:scale(0.5); } }
@keyframes input4{ 30%, 70% { transform:scale(0.5); } }
@keyframes input5{ 30%, 70% { transform:scale(0.5); } }
@keyframes input6{ 30%, 70% { transform:scale(0.5); } }

