<!DOCTYPE html>

<html lang="es" ng-app="adapta">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Adapt@">
    <meta name="author" content="Brandon Mendez Martinez">

    <title>ADAPT@</title>

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />

    <!-- CSS Principal -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- CSS Menú -->
    <link rel="stylesheet" href="css/menu.css" />
    <!-- CSS Opciones -->
    <link rel="stylesheet" href="css/opciones.css" />
    <!-- CSS Modales -->
    <link rel="stylesheet" href="css/modales.css" />
    <!-- CSS Autenticacion -->
    <link rel="stylesheet" href="css/autenticacion.css" />
    <!-- CSS Ficheros -->
    <link rel="stylesheet" href="css/ficheros.css" />
    <!-- CSS Redes Sociales -->
    <link rel="stylesheet" href="css/redesSociales.css" />

    <!-- CSS Font Awesome -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" />


    <!-- CSS jQueryUI -->
    <link rel="stylesheet" href="vendor/jquery/css/jquery-ui.css">


</head>

<body ng-controller="adaptaCtrl">


    <!-- Cabecera - Menu -->
    <div class="accordian" ng-controller="menuCtrl" ng-include="'app/views/menu/menu.html'"></div>


    <!-- Panel izquierdo - Contenido (texto) a procesar -->
    <div class="col-md-5 col-sm-12 col-xs-12 panel-normal panel-texto">

        <!-- AÑADIR AQUI EL TEXTAREA DEL TEXTO ORIGINAL -->
        <textarea id="original" name="original" ng-model="original" class="editor"></textarea>

    </div>


    <div id="contenedor-central" class="col-md-2 col-sm-12 col-xs-12">

        <!-- Falta poner cursor "pointer" en el icono -->
        <div class="contenedor-fichero">
            <input id="fichero" name="fichero" class="fichero" type="file" accept=".txt" ng-model="fichero" onchange="angular.element(this).scope().cargar(this)">
            <i class="glyphicon glyphicon-file icono-abrir-fichero"></i>
        </div>

        <span id="procesar" class="arrow procesar-deshabilitado" ng-click="procesar()">PROCESAR</span>

        <div id="loading" class="loading oculto invisible"></div>

        <div id="botones-centro">
            <span id="guardar" class="fa fa-floppy-o fa-2x icono-guardar procesar-deshabilitado" aria-hidden="true" data-toggle="modal" data-target="#modalGuardar"></span>
            <span id="descargar" class="fa fa-download fa-2x icono-descargar procesar-deshabilitado" aria-hidden="true" data-toggle="modal" data-target="#modalDescargar"></span>
            <span id="compartir" class="fa fa-share-alt fa-2x icono-compartir procesar-deshabilitado" aria-hidden="true" data-toggle="modal" data-target="#modalCompartir"></span>
            <span id="imprimir" class="fa fa-print fa-2x icono-compartir procesar-deshabilitado" aria-hidden="true" data-toggle="modal" data-target="#modalImprimir"></span>
        </div>

    </div>

    <!-- Panel derecho - Resultado (texto procesado) -->
    <div class="col-md-5 col-sm-12 col-xs-12 panel-normal panel-texto">

        <div class="container ui-widget-content">
            <h2>Palabra</h2>
            <span class="close"></span>

            <div class="slider-container">
                <div class="slider-turn">

                    <div class="panel-container">
                        Definición 1 ...
                        <div class="ui-widget-content ui-corner-tr contenedor-imagen">
                            <img src="assets/img/tigre.jpg" alt="Tigre" width="70" height="70">
                            <a href="assets/img/tigre.jpg" title="Zoom" class="glyphicon glyphicon-zoom-in"></a>
                            <a href="link/to/trash/script/when/we/have/js/off" title="Añadir" class="glyphicon glyphicon-plus"></a>
                        </div>
                        <audio controls>
                <source src="coche.mp3" type="audio/mpeg">
                Tu navegador no puede reproducir este audio.
              </audio>
                    </div>

                    <div class="panel-container">
                        Definición 2 ...
                        <div class="ui-widget-content ui-corner-tr contenedor-imagen">
                            <img src="assets/img/leon.jpg" alt="Leon" width="70" height="70">
                            <a href="assets/img/leon.jpg" title="Zoom" class="glyphicon glyphicon-zoom-in"></a>
                            <a href="link/to/trash/script/when/we/have/js/off" title="Añadir" class="glyphicon glyphicon-plus"></a>
                        </div>
                        <audio controls>
                <source src="coche.mp3" type="audio/mpeg">
                Tu navegador no puede reproducir este audio.
              </audio>
                    </div>

                    <div class="panel-container">
                        Definición 3 ...
                        <div class="ui-widget-content ui-corner-tr contenedor-imagen">
                            <img src="assets/img/oso.png" alt="Oso" width="70" height="70">
                            <a href="assets/img/oso.png" title="Zoom" class="glyphicon glyphicon-zoom-in"></a>
                            <a href="link/to/trash/script/when/we/have/js/off" title="Añadir" class="glyphicon glyphicon-plus"></a>
                        </div>
                        <audio controls>
                <source src="coche.mp3" type="audio/mpeg">
                Tu navegador no puede reproducir este audio.
              </audio>
                    </div>

                    <div class="panel-container">
                        Definición 4 ...
                        <div class="ui-widget-content ui-corner-tr contenedor-imagen">
                            <img src="assets/img/tigre.jpg" alt="Tigre" width="70" height="70">
                            <a href="assets/img/tigre.jpg" title="Zoom" class="glyphicon glyphicon-zoom-in"></a>
                            <a href="link/to/trash/script/when/we/have/js/off" title="Añadir" class="glyphicon glyphicon-plus"></a>
                        </div>
                        <audio controls>
                <source src="coche.mp3" type="audio/mpeg">
                Tu navegador no puede reproducir este audio.
              </audio>
                    </div>

                    <div class="panel-container">
                        Definición 5 ...
                        <div class="ui-widget-content ui-corner-tr contenedor-imagen">
                            <img src="assets/img/tigre.jpg" alt="Tigre" width="70" height="70">
                            <a href="assets/img/tigre.jpg" title="Zoom" class="glyphicon glyphicon-zoom-in"></a>
                            <a href="link/to/trash/script/when/we/have/js/off" title="Añadir" class="glyphicon glyphicon-plus"></a>
                        </div>
                        <audio controls>
                <source src="coche.mp3" type="audio/mpeg">
                Tu navegador no puede reproducir este audio.
              </audio>
                    </div>

                </div>
            </div>

            <div class="bottom">
                <div class="step">
                    <ul>
                        <li data-num="1"></li>
                        <li data-num="2"></li>
                        <li data-num="3"></li>
                        <li data-num="4"></li>
                        <li data-num="5"></li>
                    </ul>
                </div>
                <button class="btn">Siguiente</button>
            </div>
        </div>



        <!-- AÑADIR AQUI EL TEXTAREA DEL TEXTO PROCESADO -->
        <textarea id="procesado" name="procesado" ng-model="procesado" class="editor"></textarea>



        <br><br><br>

    </div>


    <!-- Contenedores ocultos para el procesamiento posterior -->
    <div id="documento_pdf_original" class="oculto invisible"></div>
    <div id="documento_pdf_procesado" class="oculto invisible"></div>
    <div id="documento_epub_original" class="oculto invisible"></div>
    <div id="documento_epub_procesado" class="oculto invisible"></div>
    <div id="documento_doc_original" class="oculto invisible"></div>
    <div id="documento_doc_procesado" class="oculto invisible"></div>
    <div id="documento_txt_original" class="oculto invisible"></div>
    <div id="documento_txt_procesado" class="oculto invisible"></div>
    <div id="documento_xml_original" class="oculto invisible"></div>
    <div id="documento_xml_procesado" class="oculto invisible"></div>

    <div id="documento_imprimir_original" class="oculto invisible"></div>
    <div id="documento_imprimir_procesado" class="oculto invisible"></div>



    <!-- Modal - Login -->
    <div ng-include="'app/views/modales/login.html'"></div>

    <!-- Modal - Registro -->
    <div ng-include="'app/views/modales/registro.html'"></div>

    <!-- Modal - Guardar -->
    <div ng-include="'app/views/modales/guardar.html'"></div>

    <!-- Modal - Descargar -->
    <div ng-include="'app/views/modales/descargar.html'"></div>

    <!-- Modal - Compartir -->
    <div ng-include="'app/views/modales/compartir.html'"></div>


    <!-- Pie de pagina -->
    <footer class="footer navbar-fixed-bottom text-center">
        ADAPT@ &copy; 2017 · <a href="mailto:staff.adapt@gmail.com">CONTACTO</a>
    </footer>


    <!-- jQuery -->
    <script src="vendor/jquery/js/jquery-3.1.1.min.js"></script>
    <script src="vendor/jquery/js/jquery-ui.min.js"></script>

    <!-- CKEditor -->
    <script src="vendor/ckeditor/ckeditor.js"></script>
    <script src="vendor/ckeditor/config.js"></script>

    <!-- JavaScript Bootstrap -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Angular  -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular/angular-route.js"></script>
    <script src="vendor/angular/angular-ui-router.js"></script>

    <!-- Archivos adicionales Angular -->
    <script src="app/app.js"></script>
    <script src="app/services/adaptaService.js"></script>
    <!--<script src="app/directives/vacioDirective.js"></script>-->
    <!--<script src="app/directives/usuarioDirective.js"></script>-->
    <!--<script src="app/directives/passwordDirective.js"></script>-->
    <script src="app/controllers/adaptaCtrl.js"></script>
    <script src="app/controllers/menuCtrl.js"></script>
    <script src="app/controllers/inicioCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/registroCtrl.js"></script>
    <script src="app/controllers/opcionesCtrl.js"></script>
    <script src="app/controllers/recursosCtrl.js"></script>
    <script src="app/controllers/configuracionCtrl.js"></script>
    <script src="app/controllers/informacionCtrl.js"></script>
    <script src="app/controllers/descargarCtrl.js"></script>
    <script src="app/routes/routes.js"></script>


    <!-- PDF -->
    <script src="vendor/jspdf/dist/jspdf.debug.js"></script>

    <!-- WORD -->
    <script src="vendor/word-export/FileSaver.js"></script>
    <script src="vendor/word-export/jquery.wordexport.js"></script>


    <!-- Print -->
    <script src="vendor/print/jQuery.print.js"></script>

</body>

</html>
