<!-- Panel Menu - Inicio -->


<div class="titulo-menu">
    <a href="#">ADAPT@</a>
</div>

<div id="contenedor-menu-adapta" class="item-acordeon">
    <div id="contenido-menu-adapta" class="contenido-menu">
        <i id="chincheta-adapta" class="glyphicon glyphicon-pushpin chincheta"></i>
        <span id="logo">Adapta</span>
        <br>
        <span id="login" class="boton-autenticacion" aria-hidden="true" data-toggle="modal" data-target="#modalLogin">LOGIN</span>
        <span id="registro" class="boton-autenticacion" aria-hidden="true" data-toggle="modal" data-target="#modalRegistro">REGISTRO</span>

        <!--
        <span id="login" class="boton-autenticacion" ng-click="login()">LOGIN</span>
        <span id="registro" class="boton-autenticacion" ng-click="registro()">REGISTRO</span>
        -->
    </div>
</div>
