<!-- MENÚ -->

<ul>

	<!-- Inicio -->
	<li id="menu-adapta" class="item-menu" ng-controller="inicioCtrl" ng-include="'app/views/menu/inicio.html'"></li>
	<!-- Opciones -->
	<li id="menu-opciones" class="item-menu" ng-controller="opcionesCtrl" ng-include="'app/views/menu/opciones.html'"></li>
	<!-- Recursos -->
	<li id="menu-recursos" class="item-menu" ng-controller="recursosCtrl" ng-include="'app/views/menu/recursos.html'"></li>
	<!-- Configuracion -->
	<li id="menu-configuracion" class="item-menu" ng-controller="configuracionCtrl" ng-include="'app/views/menu/configuracion.html'"></li>
	<!-- Informacion -->
	<li id="menu-informacion" class="item-menu" ng-controller="informacionCtrl" ng-include="'app/views/menu/informacion.html'"></li>

</ul>
