<!-- Panel Menu - Recursos -->


<div class="titulo-menu">
    <a href="#">RECURSOS</a>
</div>

<div id="contenedor-menu-recursos" class="item-acordeon">
    <div id="contenido-menu-recursos" class="contenido-menu">
        <i id="chincheta-recursos" class="glyphicon glyphicon-pushpin chincheta"></i>
            		
        <div id="trash" class="ui-widget-content ui-state-default">
            <h4>Imágenes</h4>
        </div>

    </div>
</div>


<!--
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>P1</th>
            <th>P2</th>
            <th>P3</th>
            <th>P4</th>
            <th>P5</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
          </tr>
          <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
          </tr>
          <tr>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
            <td>Prueba</td>
          </tr>
        </tbody>
      </table>
    </div>
-->