<!-- Modal - Compartir -->

<div class="modal fade" id="modalCompartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="tituloModalCompartir">Compartir</h4>
      </div>
      <div class="modal-body">

        <ul class="iconos-compartir">
          <!-- Email -->
          <li><a href="#" class="compartir-email icono-redsocial"><i class="fa fa-envelope fa-2x"></i></a></li>
          <!-- Facebook -->
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php" class="compartir-facebook icono-redsocial"><i class="fa fa-facebook fa-2x"></i></a></li>
          <!-- Twitter -->
          <li><a href="https://twitter.com/?status=Me gusta esta página http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php" class="compartir-twitter icono-redsocial"><i class="fa fa-twitter fa-2x"></i></a></li>
          <!-- Google Plus -->
          <li><a href="https://plus.google.com/share?url=http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php" class="compartir-google icono-redsocial"><i class="fa fa-google-plus fa-2x"></i></a></li>
          <!-- Pinterest -->
          <li><a href="http://pinterest.com/pin/create/button/?url=http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php&media=http://norfipc.com/img/icon2/codigos-direcciones-para-compartir-redes-sociales.jpeg&description=Imagen muy interesante" class="compartir-pinterest icono-redsocial"><i class="fa fa-pinterest-p fa-2x"></i></a></li>
          <!-- Linkedin -->
          <li><a href="http://www.linkedin.com/shareArticle?url=http://norfipc.com/redes-sociales/codigos-direcciones-para-compartir-contenido-redes-sociales.php" class="compartir-linkedin icono-redsocial"><i class="fa fa-linkedin fa-2x"></i></a></li>
          <!-- Imprimir -->
          <li><a href="#" class="compartir-imprimir icono-redsocial"><i class="fa fa-print fa-2x"></i></a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Compartir</button>
      </div>
    </div>
  </div>
</div>