<!-- Modal - Descargar -->

<div class="modal fade" id="modalDescargar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="tituloModalDescargar">Descargar</h4>
      </div>
      <div class="modal-body">
        


        <div class="icons">
          <div id="descargar-pdf" class="icono-descarga icono-pdf"><i title="pdf"></i></div>
          <div id="descargar-epub" class="icono-descarga icono-epub"><i title="epub"></i></div>
          <div id="descargar-doc" class="icono-descarga icono-doc"><i title="doc"></i></div>
          <div id="descargar-txt" class="icono-descarga icono-txt"><i title="txt"></i></div>
          <div id="descargar-xml" class="icono-descarga icono-xml"><i title="xml"></i></div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Descargar</button>
      </div>
    </div>
  </div>
</div>